@CHARSET "UTF-8";

div.card div {
	background-color: #FF8000;
	float: left;
	padding: 1px;
	padding-bottom: 0;
	clear: both;
	width: 100%;
}

div.card a {
	color: black;
	font-size: 20px;
	text-decoration: none;
	float: left;
	width: 19%;
	text-align: center;
	background-color: white;
	margin-right: 1px;
}

div.card div.CPU a.CPU {
	font: normal normal bold 20px/1.5 宋体;
}

div.card div.memory a.memory {
	font: normal normal bold 20px/1.5 宋体;
}

div.card div.disk a.disk {
	font: normal normal bold 20px/1.5 宋体;
}
div.card div.service a.service {
	font: normal normal bold 20px/1.5 宋体;
}
div.card div.diy a.diy {
	font: normal normal bold 20px/1.5 宋体;
}

div.card div.content {
	background-color: white;
	border: 1px solid #ff8000;
	height: 100%;
	min-height:50px;
	width:98%;
	padding:20px 10px;
}

.but{
	background-color:#3399FF;
	padding:2px 10px;
	border-radius:3px;
	border:1px solid #ccc;
	color:#FFF;
}
.editbox{
    background: #EEEEEE;
    border: 1px solid #b7b7b7;
    color: #003366;
    cursor: text;
    font-family: "楷体";
    font-size: 14pt;
    height: 20px;
	width:200px;
    padding: 2px; /*www.52css.com*/
}
.editboxmini{
    background: #EEEEEE;
    border: 1px solid #b7b7b7;
    color: #003366;
    cursor: text;
    font-family: "楷体";
    font-size: 10pt;
    height: 20px;
	width:100px;
    padding: 0px; /*www.52css.com*/
    display:none;
}
.content{
	background-color: white;
	border: 1px solid #ff8000;
	height: 100%;
	min-height:50px;
	width:800px;
	padding:20px 20px;
}
.disabled{
	background-color:#cccccc;
}